{% extends 'base.html.twig' %}

{% block title %}
    SymRecipe - Accueil
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenu(e) sur SymRecipes !</h1>
            <p class="lead">
                SymRecipes est une application web qui vous permet d'avoir des recettes culinaires d'ici 
                et d'ailleurs, de pouvoir mettre vos propres recettes et de pouvoir commenter les recettes
                des autres utilisateurs.
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
            </p>
        </div>
    </div>

{% endblock %}